{
  "extends": ["airbnb", "prettier"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    // "comma-dangle": [2, "always-multiline"],
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "react/self-closing-comp": "off",
    "arrow-body-style": 0,
    "react/prop-types": "off",
    "no-alert": "off",
    "no-else-return": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "no-shadow": "off",
    "no-param-reassign": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
