@import '../abstracts/colors.scss';

.wrapper {
  width: 100%;
  background-color: $base-grey;
}

.contact {
  width: 100%;
  margin: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}

.formContainer {
  width: 48%;
}

.imageContainer {
  width: 48%;
  overflow: hidden;

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

@media (max-width: 850px) {
  .formContainer {
    width: 100%;
  }

  .imageContainer {
    width: 100%;
  }
}
