.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 7%;
  background-color: #F6F6F6;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  background-image: url(../assets/images/man.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
