@import '../abstracts/colors.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $base-grey;
}

.header {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}