@import '../abstracts/colors.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 20px 30px 15px;
  background-color: white;
  margin: 0 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  h3 {
    padding: 20px 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .tick {
    color: green;
    font-size: 7rem;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
    color: $base-orange;
    border: none;
    background-color: transparent;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .buttons {
    justify-content: center;
  }
}
