@import '../abstracts/colors.scss';

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-bottom: 20px;
  margin: 20px 0;
  gap: 10px;
}

.imageContainer {
  width: 12%;
  min-height: 100px;
  min-width: 100px;
  position: relative;
  border: 1px solid rgb(230, 230, 230);
  background-color: white;
}

.image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  object-position: center;
}

.title {
  width: 32%;
}

.amountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 10%;
}

.amountBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgb(155, 155, 155) 1px solid;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

.amount {
  font-size: 1.4rem;
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
  width: 15%;
  justify-self: flex-end;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 15px;
    color: grey;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .imageContainer {
    min-height: 70px;
    min-width: 70px;
  }

  .title {
    font-size: 0.7rem;
  }

  .amountBtn {
    font-size: 0.8rem;
  }

  .amount {
    font-size: 1.1rem;
  }

  .priceContainer {
    font-size: 0.9rem;
  }
}