@import '../abstracts/colors.scss';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 0 5%;
  padding-top: 100px;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 0 0 45%;
}

.headerText {
  font-size: 2.5rem;
  line-height: 60px;
  text-align: left;
  font-weight: bold;
  z-index: 2;

  &Small {
    line-height: 30px;
    font-weight: 600;
    color: $base-font;
  }
}

.headerImageContainer {
  flex: 1 0 45%;
  height: 100%;
  align-self: flex-end;
  transform: translateY(4px);
}

.headerImage {
  width: 100%;
}


@media (max-width: 800px) {
  .main {
    flex-wrap: wrap;
  }

  .headerContainer {
    align-items: center;
    flex: 0 0 90%;
  }

  .headerText {
    font-size: 2rem;
    line-height: 46px;
    text-align: center;

    &Small {
      text-align: center;
    }
  }
  .headerImageContainer {
    flex: 0 0 90%;
  }
  .headerImage {
    width: 100%;
  }
}
