@import '../abstracts/colors.scss';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $base-grey;
  padding-top: 50px;
  width: 100%;
}

.header {
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.slider {
  position: relative;
  max-width: 900px;
  height: 565px;
  margin: 0 auto;
  transform: translateX(5px);
}

.person {
  // width: 300px;
  // height: 480px;
  background-color: $base-grey;
  margin: 0 -15px;
}

.description {
  flex: 1;
  height: 160px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 8px 20px;

  h5 {
    padding-bottom: 6px;
    font-size: 1.2rem;
  }

  p {
    margin-bottom: auto;
    font-size: 0.9rem;
    color: $base-font;
  }

  .scale {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding-top: 6px;
    color: $base-orange;

    h6 {
      color: black;
      font-size: 1.2rem;
      padding-left: 5px;
    }
  }
}

.image {
  width: 100%;
  align-self: flex-start;
  margin: 0 15px;
}

.prev,
.next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: $base-orange;
  color: white;
  border: none;
  width: 40px;
  height: 60px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10;
}

.prev {
  left: -2%;
  top: 45%;
}

.next {
  right: calc(0% - 5px);
  top: 45%;
}

@media (max-width: 950px) {
  .slider {
    max-width: 600px;
  }
}
@media (max-width: 650px) {
  .slider {
    max-width: 400px;
    height: 650px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .slider {
    max-width: 350px;
    height: 600px;
    margin: 0 auto;
  }
}
