@import '../abstracts/colors.scss';

.post {
  display: flex;
  flex: 0 0 46%;
  max-width: 46%;
  border: rgb(184, 184, 184) solid 1px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.image {
  width: 40%;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

  h6 {
    font-weight: 300;

  }
}

.title {
margin-bottom: 10px;
  a {
    text-decoration: none;
    color: black;
  }
}

.shortText {
  font-size: 0.7rem;
}