@import '../abstracts/colors.scss';

.wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 130px 10px 50px 10px;
}

.title {
  font-weight: 500;
  font-size: 3rem;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: $base-blue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 110px 10px 30px 10px;
  }
  .title {
    font-size: 2rem;
  }

  .underline {
    width: 4rem;
  }
}